# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/

# Entornos virtuales
.venv/
venv/
env/

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.swp
*.swo

# Logs y temporales
*.log
*.tmp
